@namespace ordinationsapp.Shared

@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row py-4">
            <a href="/">Forsiden</a>
            <a href="/Opret">Opret ordination</a>
            <a href="/Vis">Vis ordinationer</a>
            <a href="/Statistik">Vis statistik</a>
            <a href="https://github.com/kdorland/ordination" target="_blank">Mere info</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
